#root{
  font-family: 'Inter', sans-serif;
  background-color: #f0f0f0;
  color: #333;
  background-image: linear-gradient(to right, #ff7e5f, #feb47b);
  height: 100vh;
  overflow: hidden;
}

body{
  margin: 0;
  padding: 0;
  background-color: #E3EAFB;
}

.app{
  overflow-y: scroll;
}